{{define "login-renew"}}
    {{template "pagetop" .}}
    {{template "nav" .}}

    <h1>re-login</h1>
    <p>You don't have a refresh token - let's log you in again</p>

    {{template "logbutton" .}}

    {{template "pagebottom" .}}
{{end}}
