{{define "protected"}}
    {{template "pagetop" .}}

    <h1>this is a protected page</h1>

    <h3>Userinfo</h3>
    {{.Userinfo}}

    <h3>Token</h3>
    <table>
        <tr>
            <td>AccessToken</td>
            <td>{{ .Token.AccessToken}}</td>
        </tr>
        <tr>
            <td>TokenType</td>
            <td>{{ .Token.TokenType}}</td>
        </tr>
        <tr>
            <td>RefreshToken</td>
            <td>{{ .Token.RefreshToken}}</td>
        </tr>
        <tr>
            <td>Expiry</td>
            <td>{{ .Token.Expiry}}</td>
        </tr>
    </table>

    <h3>Session</h3>
    <table>
        <tr><td>IdleTimeout</td><td>{{.SessionManager.IdleTimeout}}</td></tr>
        <tr><td>Lifetime</td><td>{{.SessionManager.Lifetime}}</td></tr>
        <tr><td>Store</td><td>{{.SessionManager.Store}}</td></tr>
        <tr><td>Cookie</td><td>{{.SessionManager.Cookie}}</td></tr>
        <tr><td>Codec</td><td>{{.SessionManager.Codec}}</td></tr>
    </table>

    {{template "pagebottom" .}}
{{end}}
